@model GestionHopital.Models.Appointment

@{
    ViewData["Title"] = "CreateAppointment";
}

<h1>CreateAppointment</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                        <label >Select DeptNo</label>
                        <select class="form-control"  id="dep">
                            <option value="">Select one</option>
                            @foreach (var department in (List<Department>)ViewData["departement"])
                            {

                                <option value="@department.DeptNo" > @department.DeptName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                        <label>Select Doctor</label>
                        <select class="form-control" id="doctor" name="DoctorID">
                            <option value="">Select one</option>
                           
                        </select>
                    </div>
                </div>
            </div>

           
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment_Status" class="control-label"></label>
                <input asp-for="Appointment_Status" class="form-control" />
                <span asp-validation-for="Appointment_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill_Amount" class="control-label"></label>
                <input asp-for="Bill_Amount" class="form-control" />
                <span asp-validation-for="Bill_Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill_Status" class="control-label"></label>
                <input asp-for="Bill_Status" class="form-control" />
                <span asp-validation-for="Bill_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disease" class="control-label"></label>
                <input asp-for="Disease" class="form-control" />
                <span asp-validation-for="Disease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progress" class="control-label"></label>
                <input asp-for="Progress" class="form-control" />
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription" class="control-label"></label>
                <input asp-for="Prescription" class="form-control" />
                <span asp-validation-for="Prescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#dep").on('change', function () {
            
            var id = $(this).find(":selected").val();
            var url = '/Appointment/GetDoctorsByDepId?depId=' + id;
           alert(url)
            $.ajax({
                url: url,
                type: 'GET',
                success: function (dataReceived) {
                    optionsLis = "";
                    dataReceived.map((item) => {
                        optionsLis += `<option value="${item.doctorID}">${item.name}</option>`;
                       
                    })
                    $('#doctor').append(optionsLis);
                }
            })
        });
    });
</script>

