@using System.Xml.Linq
@model GestionHopital.Models.Department
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "CreateDepartment";
}

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create Department</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" asp-action="CreateDepartment" enctype="multipart/form-data">
            <div>
                <a asp-action="GetDepartment">Back to List</a>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="DeptName">DeptName</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="DeptName" asp-for="DeptName">
                    <span asp-validation-for="DeptName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Description" asp-for="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile" asp-for="img">File input</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="img" asp-for="img">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" asp-validation-for="img">Upload</span>
                        </div>
                    </div>
                    <span asp-validation-for="img" class="text-danger"></span>
                </div>
               
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <!-- /.card -->
</div>
